@charset "utf-8";
.listbox .site-info {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    border: none;
    > div {
        display: block;
        margin: 10px;
        border: 1px solid gray;
        background-color: whitesmoke;
        text-decoration: none;
        color: black;
    }
}